@model User

<form method="post" asp-action="Process" asp-controller="Home" class="text-center border border-black p-4 m-5">

<div class="mb-3 row">
    <label asp-for="Name" class="col-sm-2 col-form-label fw-bold"></label>
    <div class="col-sm-10">
    <input asp-for="Name"  class="form-control">
    </div>
<span class="text-danger" asp-validation-for="Name"></span>
    </div>
    

<div class="mb-3 row">
     <label asp-for="location" class="col-sm-2 col-form-label fw-bold"></label>
    <div class="col-sm-10">
    <select asp-for="location" class="form-select">
        <option value="San Jose">San Jose</option>
        <option value="Germany">Germany</option>
        <option value="Spain">Spain</option>
        <option value="Tunisia">Tunisia</option>
    </select>
    </div>
    <span class="text-danger" asp-validation-for="location"></span>
    </div>
    

<div class="mb-3 row">
     <label asp-for="language" class="col-sm-2 col-form-label fw-bold"></label>
    <div class="col-sm-10">
     <select asp-for="language" class="form-select">
        <option value="C# ">C#</option>
        <option value="JS">JS</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
    </select>
    </div> 
    <span class="text-danger" asp-validation-for="language"></span>
    </div>


<div class="mb-3 row">
    <label asp-for="comment" class="col-sm-2 col-form-label fw-bold"></label>
    <div class="col-sm-10">
    <textarea asp-for="comment" class="form-control" cols="20" rows="5"></textarea>
    </div> 
    <span class="text-danger" asp-validation-for="comment"></span>
    </div>


<button type="submit" class="btn btn-primary">Submit</button>

</form>
