@model LogUser
<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="images/form-img.jpg" alt="">
                <div class="signup-img-content">
                    <h2>Login <br> to your account !</h2>
                    <p>and reserve your spot!</p>
                </div>
            </div>
            <div class="signup-form">
                <form method="POST" asp-action="Login" class="login-form" id="register-form">
                    
                        <div class="form-input">
                            <label class="required">Email</label>
                            <input asp-for="LogEmail" class="w-75" />
                            <span asp-validation-for="LogEmail" class="text-danger"></span>
                        </div>
                        <div class="form-input">
                            <label class="required">Password</label>
                            <input asp-for="LogPassword" class="w-75" />
                            <span asp-validation-for="LogPassword" class="text-danger"></span>
                        </div>
                        <div >
                            <input type="submit" value="Login" class="submit" id="submit" name="submit" />

                        </div>
                        @* class="form-submit" *@
                </form>
                <div class="Reg">
                    <a href="/">Register</a>
                </div>
            </div>

        </div>
    </div>

</div>