@model Dish

<h2 class="text-center"><a href="/">Chefs</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
        href="/dishes">Dishes</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/chefs/new">Add a Chef</a>&nbsp;&nbsp;
    |&nbsp;&nbsp;Add a Dish</h2>
<br>
<h3 class="text-center">Add Chef!</h3>
<hr>

<form asp-action="AddDish" asp-controller="Home" method="post" class="row g-8 w-100 d-flex pl">
    <div class="w-25">

        <div class="col-12">
            <label class="form-label fw-bold">Name of the Dish:</label>
            <input asp-for="Name" class="form-control w-100">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br>
        <div class="col-12">
            <label class="form-label fw-bold"># of calories:</label>
            <input asp-for="Calories" class="form-control w-100">
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
        <br>
    </div>

    <div class="w-15">

        <div class="col-12">
            <label class="form-label fw-bold">Chef's Name:</label>
            <select asp-for="ChefId" class="form-control ">
                <option value=null>Select a Chef</option>
                @foreach(var one in ViewBag.AllChefs){
                    <option value="@one.ChefId">@one.FName @one.LName</option>
                }
            </select>
            <span asp-validation-for="ChefId" class="text-danger"></span>
        </div>
    </div>

    <div class="w-25">
        <label class="form-label fw-bold">Tastiness :</label>
        <select class="form-control" asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

        </select>
        <span asp-validation-for="Tastiness" class="text-danger"></span>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit">Add a Dish</button>
        </div>
    </div>


</form>