<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
Home | <a href="projects">Projects</a> | <a href="contact">Contact</a>
<h1>About Me</h1>
<div class="Box">
<img src="~/images/pexels-pixabay-220453.jpg">
<p>Lorem, ipsum dolor sit amet consecteturbr <br> adipisicing elit. Aut at explicabo <br> quasi vitae iste, optio quibusdam dolorum <br>magnam consectetur 
  <br>  ratione architecto a dignissimos reprehenderit <br>aspernatur distinctio repudiandae iure illum natus.</p>
Bobothy Jones <br>
I love Code 
</div>

</body>
</html>