<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<a href="/">Home </a>|Projects | <a href="contact">Contact</a>
<div class="Projet">
<img src="~/images/p1.jpg" alt="p1">
<strong>Project 1</strong>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, voluptate cupiditate numquam cum repudiandae consequuntur ipsa eligendi accusamus est rerum nobis odio, quae eaque aut delectus blanditiis reprehenderit! Excepturi, nobis?</p>
</div>
</body>
</html>