@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="text-danger">Random Passcode @Context.Session.GetInt32("nbr") </h2>

    <div>
    @{  string word ="" ;
        for(int i=0 ; i<14;i++){
        Random random = new Random();
        int randomNumber = random.Next('A', 'Z' + 1);
        char randomLetter = (char)randomNumber;
        word+= randomLetter ;
    }}
    @word     
    </div>
<a href="/generate" class="btn btn-primary">Generate</a>

</div>
