@model Survey

<div class="text-center">


<form action="result" method="post" style="border: 2px solid black;padding : 40px">

<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Your Name</label>
    <div class="col-sm-10">
    <input asp-for="Name"  class="form-control"  id="inputEmail3" >
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
</div>

<fieldset class="form-group">
    <div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Dojo Location</legend>
    <div class="col-sm-10">
        <select asp-for="location"  class="custom-select" id="inputGroupSelect02">
            <option selected>San José</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    <span asp-validation-for="location" class="text-danger"></span>        
    </div>
    </div>
</fieldset>

    <fieldset class="form-group">
    <div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Favorite Language</legend>
    <div class="col-sm-10">
        <select  asp-for="language"  class="custom-select" id="inputGroupSelect02">
            <option selected>C#</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
          <span asp-validation-for="language" class="text-danger"></span>     
        
    </div>
    </div>
</fieldset>

<div class="form-group ">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Comment (optional):</label>
    <div class="col-sm-10">
    <textarea name="comment" id="" cols="70" rows="10"></textarea>
</div>
</div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

</div>
