@model Survey

<div class="text-center">

 <div  style="border: 2px solid black;padding : 40px">
    <h1>Submitted Info</h1>
        
        <p><strong>Your Name :</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Name</p> 
        <br>
        <p><strong>Dojo Location :</strong>&nbsp;&nbsp;&nbsp;&nbsp; @Model.location</p>
        <br>
        <p><strong>Language:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.language</p>
        <br>
        <p><strong>Comment:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.comment</p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
 </div>