<div class="d-flex flex-column gap-4">
    <div class="w-100 back">
        <h2>Welcome to the Test</h2>
        <p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
        <a href="/signin" class="btn btn-primary">Start</a>
    </div>
    <div class="w-100 d-flex gap-4">
        <div class="w-35">
            <h5>Manage Users</h5>
            <p>Using this application ,you'll learn how to add,remove and edit  users for this application</p>
        </div>
        <div class="w-35">
            <h5>Leave Messages</h5>
            <p>Users will be able to leave a message to another user using this application</p>
        </div>
        <div class="w-35">
            <h5>Edit User information</h5>
            <p>Admins will be able to edit another user's information(email address,first name,last name,etc).</p>
        </div>
    </div>



</div>
