<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.css"asp-append-version="true" >

</head>

<body>
    @if ((Context.Session.GetInt32("userId") != null) && (Context.Session.GetString("userRole") == "user"))
    {
        <nav class="navbar navbar navbar-dark bg-primary justify-content-between p-4 m-3 rounded">
            <h1>Welcome to our Platform</h1>
            <div class="d-flex gap-4">

                
                <a href="/logout" class="btn btn-light">Logout</a>

            </div>
        </nav>
    }
    @if ((Context.Session.GetInt32("userId") != null) && (Context.Session.GetString("userRole") == "admin"))
    {
        <nav class="navbar navbar navbar-dark bg-info justify-content-between p-4 m-3 rounded">
            <h1>Hi Admin 😉</h1>
            <div class="d-flex gap-4">

                
                <a href="/logout" class="btn btn-light">Logout</a>

            </div>
        </nav>
    }

    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
