@model User

<form method="post" asp-action="Process" asp-controller="Home" class="text-center border border-black p-4 m-5">
<h1> Enter the date :</h1>
<input asp-for="myDate">
<br>
<span class="text-danger" asp-validation-for="myDate"></span>
<br>
<button type="submit" class="btn btn-primary">Submit</button>

</form>
