@model Comment

    <form asp-action="PostComment" method="post">
        <h6>Post a comment</h6>
        <textarea asp-for="CommentText" cols="10" rows="1" class="form-control"></textarea>
        <input asp-for="UserId" type="hidden" value="@Context.Session.GetInt32("userId")">
        <input asp-for="MessageId" type="hidden" value="@ViewBag.CommentId">
        <span asp-validation-for="CommentText" class="text-danger fw-bold"></span>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2">Comment</button>
        </div>
    </form>