html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  width: 1000px;
  padding: 15px 0 0 50px;
}

.gap-8{
  gap: 70px;
  width: 100%;

  margin-top: 20px;
}
.w-30{
width: 60%;
}
*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.hr {
  border-top: 3px solid black;
}
.w-35{
  width: 32%;
}
.imageP{
  width: 150px;
  height: 120px;
}